{% extends 'portfolio/base.html' %}

{% block content %}

<head>
    <title>Posts</title>
</head>

    <h1>This is Blog, my dudes</h1>
    <a href="{% url 'Home' %}">Ok, back home</a>
    <h2>Zhenya has written {{ posts.count }} post{{ posts.count|pluralize }}</h2>
    {% for post in posts %}
    <a href="{% url 'blog:detail' post.id %}"><h2>{{ post.title }}</h2></a>
        <h5>{{ post.time|date:'d M Y'}}</h5>
        <p>{{ post.description|truncatechars:100 }}</p>
    {% endfor %}

{% endblock %}
